*{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 241, 233);
}

body{
    background: #1B1B2F;
    margin: 0;
}

strong{
    color: #E43F5A;
}

dt + dd, dd + dd { /*dt ~ dd*/
    font-style: italic;
}

.footer{
    position: relative;
    background-color: #1F4068;
    margin: 0;
    padding: 30px;
}

.footer > img{
    position: absolute;
    right: 5px;
    top: 5px;
}

.header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
}

.header *{
    font-weight: bold;
    padding: 0;
    margin: 0;
    background-color: #1F4068;
}

.header_warp nav{
    padding: 0;
    margin: 0;
}

.header nav{
    display: flex;
    align-items: center;
    padding: 8px 8px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 60px;
}

.menu li a{
    font-size: large;
    color: #E43F5A;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover{
    color: #D27685;
    background-color: rgba(255, 132, 49, 0.068);
}

.menu li a:active{
    color: rgba(253, 135, 0, 0.205);
}

main section img{
    float: right;
    margin: 20px;
}

main{
    padding-top: 10%;
}

main a{
    color: #e46821;
}

main a:visited{
    color: rgb(189, 110, 20);
}

main > aside{
    top: 100px;
    position: sticky;
    border-radius: 5px;
    float: left;
    margin-left: 30px;
    padding: 10px;
}

main > aside ul{
    list-style: none;
    padding: 10px;
    margin: 5px;
}

main > section{
    border-radius: 20px;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

main > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main section, aside{
    background-color: #162447;
    padding: 15px;
}


