

body{
    background: rgb(207, 189, 189);
    margin: 0;
}

strong{
    color: rgb(0, 45, 97);
    font-family: 'Montserrat', sans-serif;
}

dt + dd, dd + dd {
    font-style: italic;
}

.header *{
    padding: 0;
    margin: 0;
    background-color: rgb(177, 144, 196);;
}

.header_warp nav{
    padding: 0;
    margin: 0;
}

.header nav{
    display: flex;
    align-items: center;
    padding: 30px 15px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 60px;
}

.menu li a{
    color: rgb(43, 6, 78);
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover{
    color: rgb(187, 59, 0);
    background-color: rgb(173, 159, 159);
}

.menu li a:active{
    color: rgb(185, 146, 146)
}

main a:visited{
    color: rgb(172, 96, 62);
}

main > aside{
    float: left;
}

main > aside *{
    margin-left: auto;
    margin-right: auto;
}

main > aside ul{
    list-style: none;
    padding: 20%;
}

main > section{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main section, aside{
    background-color: aliceblue;
    padding: auto%;
}


