*{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 241, 233);
}

body{
    background: #37306B;
    margin: 0;
}

strong{
    color: #D27685;
}

dt + dd, dd + dd { /*dt ~ dd*/
    font-style: italic;
}

.footer{
    background-color: #9E4784;
    margin: 0;
    padding: 30px;
}

.header *{
    font-weight: bold;
    padding: 0;
    margin: 0;
    background-color: #9E4784;;
}

.header_warp nav{
    padding: 0;
    margin: 0;
}

.header nav{
    display: flex;
    align-items: center;
    padding: 8px 8px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 60px;
}

.menu li a{
    font-size: large;
    color: #37306B;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover{
    color: #D27685;
    background-color: rgba(255, 132, 49, 0.068);
}

.menu li a:active{
    color: rgba(253, 135, 0, 0.205);
}

main a{
    color: #e46821;
}

main a:visited{
    color: rgb(189, 110, 20);
}

main > aside{
    border-radius: 5px;
    float: left;
    margin-left: 30px;
    margin-right: auto;
    padding: 10px;
}

main > aside ul{
    list-style: none;
    padding: 10px;
    margin: 5px;
}

main > section{
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

main section, aside{
    background-color: #66347F;
    padding: 15px;
}


